#logo a:hover{
  text-decoration: none;
  opacity:0.8;
  filter:alpha(opacity=80);
  -ms-filter: "alpha( opacity=80 )";
}

#honbun a{
  /* color: #2b4; */
  color: #04c;
}
#honbun a:hover{
  /* color: #4d6; */
  color: #0f0;
}

#nav a{
  color: #000;
}
#nav a:hover{
  color: #5af;
}

/*トップページ　テンプレへのリンク*/
#footer a{
  color: #000;
}
#footer a:hover{
  color: #111;
}
