body{
  /* font-family: 'Roboto', Osaka, sans-serif, Avenir, YuGothicM; */
  /* font-family: 'TITUS Cyberbit Basic', 'Code2000', 'Chrysanthi Unicode', 'Doulos SIL', 'Bitstream Cyberbit', 'Bitstream CyberBase', 'Bitstream Vera', 'Thryomanes', 'Gentium', 'GentiumAlt', 'Visual Geez Unicode', 'Lucida Grande', 'Arial Unicode MS', 'Microsoft Sans Serif', 'Lucida Sans Unicode', sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif; */
  font-family: 'ヒラギノ丸ゴ ProN W4', Meiryo, sans-serif, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, "M+ 1p";
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  border-bottom: solid 1px #333;
}
h2{
  border-left: solid 10px #5af;
  padding-left: 5px;
}
h3{
  border-bottom: solid 2px #5af;
}
h4{
  /* line-height: 0.9; */
  /* border-left: solid 5px #5af; */
  /* padding-left: 5px; */
  margin-left: 5px;
}

#wrapper { /*コンテンツのページ幅*/
    width: 1000px;
    margin-left: auto; /*中央寄せ*/
    margin-right: auto; /*中央寄せ*/
    /*background-color: #aaa;*/
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#right{
  float: right;
  width: 700px;
  margin-right: 50px;
}
#header{
  text-align: center;
}
#honbun{
  margin-top: 80px;
  padding-bottom: 50px;
  /* background-color: #6af; */
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#left{
  float: left;
  width: 250px;
  height: 700px;
}
#logo img{
  width: 200px;
  height: 200px;
}
#nav{
  width: 170px;
  padding-bottom: 40px;
  border-bottom: solid 1px #ccc;
  /*background-color: #aa4;*/
  line-height: 1.7;
}
#address{
  margin-top: 50px;
  margin-left: 10px;
  line-height: 0.5;
  font-size: 11pt;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#footer{
  clear: both;
  text-align: center;
  border-top: solid 1px #ccc;
}